* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

:root {
  --primary-color: #27ae61;
  --text-dark-color: #2f3640;
  --text-light-color: #ffffff;
  --footer-bg: #2b3136;
  --footer-copyright-bg: #23292e;
  --grey-color: #c6c6c6;
  --dark-grey-color: #8d8d8d;
}

/*** header start  ***/

html,
body {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

body.menuOpen {
  overflow: hidden;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li {
  position: relative;
  margin-left: 40px;
  cursor: pointer;
}

header .navigationWrap nav > ul .sub-menu li {
  margin: 0;
}

header .navigationWrap nav > ul .sub-menu li a {
  padding: 10px;
  margin: 0;
  font-size: 14px;
}

header a {
  text-decoration: none;
  transition: 0.5s;
  color: var(--text-light-color);
  display: inline-block;
}

header .active a,
header a:hover {
  text-decoration: none;
  color: var(--text-dark-color);
}

header .headerWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.logoBx {
  max-width: 300px;
  width: 100%;
  overflow: hidden;
}

.logoBx a {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 3px;
  color: var(--text-light-color);
  line-height: 1;
}

footer .logoBx a {
  margin-bottom: 15px;
  color: var(--text-light-color);
}

.logoBx a img {
  height: 75px;
  width: auto;
}

header .navigationWrap nav > ul {
  display: flex;
  flex-wrap: wrap;
}

header .navigationWrap nav > ul li a {
  padding: 40px 0;
  display: inline-block;
  font-size: 18px;
}

header .a-Wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header .navigationWrap nav ul li a {
  display: block;
  flex-basis: calc(100% - 50px);
  flex-grow: 1;
}

.subMenuAngle {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sub-menu .subMenuAngle {
  margin-right: 5px;
}

header nav .sub-menu {
  position: absolute;
  background: var(--primary-color);
  width: 200px;
  top: calc(100% - 2px);
  left: 0;
  display: none;
  transition: 0.5s;
}

.menu-item-has-children:hover > .sub-menu {
  display: block;
}

.menu-item-has-children .sub-menu .sub-menu {
  top: 0;
  left: 100%;
}

header nav > ul > li:last-child .sub-menu {
  right: 0;
  left: unset;
}

header nav > ul > li:last-child .sub-menu .sub-menu {
  right: 100%;
  left: unset;
}

/*** custom header start  ***/

#site-header {
  max-width: 1920px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 10%;
  min-height: 300px;
}

#site-header a {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#site-header img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#site-header .heading {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 1px;
}

#site-header p {
  font-size: 16px;
  line-height: 1.7;
  color: #fff;
}

/*** footer start  ***/

footer * {
  transition: 0.5s;
}

footer a {
  display: inline-block;
  text-decoration: none;
}

.footer-area {
  background-color: var(--footer-bg);
  padding: 80px 0;
}

.copyright-bar {
  background-color: var(--footer-copyright-bg);
  padding: 30px 0;
}

.footer-Bx-title {
  color: var(--text-light-color);
  font-size: 20px;
  margin-bottom: 25px;
}

.footer-content ul li {
  margin-bottom: 10px;
}

.footer-content ul li a {
  color: var(--grey-color);
  font-size: 13px;
  transition: 0.5s;
}

.footer-content ul li a:hover {
  color: var(--primary-color);
}

.short-site-intro {
  margin-bottom: 30px;
}

.short-site-intro * {
  color: var(--grey-color);
  font-size: 13px;
  line-height: 2;
  margin: 0;
}

.footer-sci {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.footer-sci i {
  transform: scale(0.8);
}

.footer-sci a {
  color: var(--grey-color);
  width: 30px;
  height: 30px;
  border: 1px solid var(--grey-color);
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.footer-sci a:hover,
.footer-sci a:hover i {
  border-color: var(--icon-color);
  color: var(--icon-color);
}

.contact-list i {
  margin-right: 10px;
}

.copyright-bar p {
  margin: 0;
  color: var(--grey-color);
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 1.7;
}

.copyright-bar a {
  color: inherit;
  font-weight: 600;
}

/* Blog post design */

.blog-post * {
  margin: 0;
}

article:not(:last-child) {
  margin-bottom: 40px;
}

.blog-post {
  padding: 15px 0;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d982, -20px -20px 60px #ffffff;
}

.post-content {
  color: var(--dark-grey-color);
}

.post-title * {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--text-dark-color) !important;
  text-decoration: none;
  display: inline-block;
}

.post-meta {
  margin-bottom: 15px;
  font-size: 14px;
}

.post-description * {
  font-size: 14px;
  line-height: 1.7;
}

.post-thumbnail {
  position: relative;
  width: 100%;
  height: 230px;
}

.post-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.read-more {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-light-color) !important;
  transition: 0.5s;
  margin-top: 20px;
}

.read-more:hover {
  background-color: var(--text-dark-color);
  color: var(--text-light-color);
}

/* Pagination style */

div.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.pagination .nav-links {
  display: flex;
}

.pagination .screen-reader-text {
  display: none;
}

.pagination .current,
.pagination .page-numbers {
  text-decoration: none;
  color: var(--text-light-color);
  background: var(--primary-color);
  display: inline-block;
  padding: 10px 15px;
  transition: 0.5s;
  margin: 5px;
  text-transform: capitalize;
  font-weight: 500;
}

.pagination .current {
  background: var(--text-dark-color);
}

.pagination .current,
.pagination .page-numbers:hover {
  background: var(--text-dark-color);
}

/* breadcrumbs style */

.breadcrumbs {
  background-color: #f5f6f5;
  padding: 9rem 0 12rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}

.breadcrumbs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("http://dynamicwp/wp-content/uploads/2021/05/shape.png")
    no-repeat bottom center/ 100%;
  background-position-y: calc(100% + 100px);
  pointer-events: none;
}

.breadcrumb {
  font-size: 34px;
  color: var(--text-dark-color);
  justify-content: center;
  font-weight: 500;
}

.breadcrumb a {
  color: var(--primary-color);
  text-decoration: none;
}

/* sidebar for latest post style */

.right-sidebar {
  background: #f5f6f5;
  box-shadow: 20px 20px 60px #d9d9d982, -20px -20px 60px #ffffff;
  /* padding: 15px; */
  position: sticky;
  top: 0;
}

.logged-in .right-sidebar {
  top: 32px;
}

.right-sidebar h3 {
  font-size: 22px;
  color: var(--text-light-color);
  background: var(--primary-color);
  padding: 10px;
  margin-bottom: 10px;
}

.right-sidebar ul {
  padding: 10px;
}

.right-sidebar a {
  color: var(--text-dark-color);
}

.right-sidebar a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.right-sidebar a .latest-post-thumbnail {
  width: 80px;
  height: 80px;
  position: relative;
}

.right-sidebar a .latest-post-thumbnail img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.right-sidebar li {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
}

.right-sidebar li:not(:last-child) {
  border-bottom: 0.1px solid var(--grey-color);
}

.latest-post-title {
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
}

.latest-post-time {
  font-size: 14px;
  color: var(--dark-grey-color);
}

.latest-post-meta {
  flex-basis: calc(100% - 150px);
  flex-grow: 1;
  margin-left: 10px;
}

.latest-post-thumbnail + .latest-post-meta {
  margin-left: 10px;
}

/* single post design */

section.single-post,
section.category-sec,
section.archive {
  padding: 100px 0;
}

.single-post .blog-post {
  padding: 40px;
}

.single-post-thumbnail {
  margin-bottom: 20px;
}

.blog-post h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.blog-post h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.blog-post h3 {
  font-size: 19px;
  margin-bottom: 20px;
}

.blog-post h4 {
  font-size: 16px;
  margin-bottom: 20px;
}

.blog-post h5 {
  font-size: 14px;
  margin-bottom: 20px;
}

.blog-post h6 {
  font-size: 12px;
  margin-bottom: 20px;
}

.single-post .post-title {
  font-size: 36px;
  margin-bottom: 15px;
}

.single-post .post-meta {
  margin-bottom: 20px;
  font-size: 16px;
}

.single-post .post-description p {
  font-size: 16px;
}

.single-post blockquote {
  background: #f8f8f8;
  padding: 50px 15px 40px 70px;
  border-left: 10px solid var(--primary-color);
  position: relative;
}

.single-post blockquote::before {
  content: "❝";
  font-size: 60px;
  line-height: 1;
  left: 20px;
  top: 20px;
  position: absolute;
}

.blog-post ul,
.blog-post ol {
  padding: 0;
  margin: 15px 0;
  list-style: none;
}

.blog-post ul li,
.blog-post ol li {
  position: relative;
  padding-left: 45px;
  margin-bottom: 10px;
}

.blog-post ul li::before {
  content: "";
  background: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  border: 15px solid #fff;
  border-left: 20px solid var(--primary-color);
}

.blog-post ol {
  counter-reset: orderList;
}

.blog-post ol li::before {
  counter-increment: orderList;
  content: "" counter(orderList) "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 25px;
  height: 25px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
}

.post-description img {
  width: 50%;
  object-fit: cover;
  height: auto;
  margin: 15px 0;
}

/* comments section design */

.comments-area {
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d982, -20px -20px 60px #ffffff;
  padding: 40px;
  margin-bottom: 40px;
}

.comments-area .comments-title {
  font-size: 18px;
  text-transform: capitalize;
  background: var(--footer-bg);
  color: #fff;
  padding: 10px 0 10px 30px;
  margin-bottom: 20px;
}

.comment-respond {
  padding: 70px 30px 40px;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 8px 8px 33px #f5f5f5, -8px -8px 33px #ffffff;
  position: relative;
}

.comment-reply-title {
  font-size: 20px;
  margin-bottom: 20px;
  background: var(--footer-bg);
  color: #fff;
  padding: 15px 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.comment-notes {
  color: var(--dark-grey-color);
  margin-bottom: 40px;
  font-size: 16px;
}

.comment-list {
  position: relative;
  padding: 10px 30px;
  margin-bottom: 30px;
  counter-reset: commentCounter;
  list-style: none;
}

.comment-list li {
  position: relative;
  margin-bottom: 20px;
}

.comment-author.vcard img {
  border-radius: 50%;
  margin-right: 15px;
  position: absolute;
  left: 0;
  top: 0;
}

.comment-author.vcard span {
  font-weight: 400;
  font-size: 16px;
}

.comment-author.vcard * {
  color: #111;
  text-decoration: none;
  font-style: normal;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
}

.comment-body {
  position: relative;
  display: flex;
  padding-left: 80px;
  flex-direction: column;
}

.comment-body * {
  font-style: normal;
}

.comment-meta a {
  color: var(--dark-grey-color);
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 15px;
  display: inline-block;
}

.comment-author {
  margin-bottom: 10px;
}

.reply a {
  display: inline-block;
  padding: 5px 20px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background: var(--primary-color);
  margin-top: 15px;
  transition: 0.5s;
}

.reply a:hover {
  background: var(--footer-bg);
}

.comment-body p {
  margin: 0;
}

.commentmetadata p {
  font-size: 16px;
  line-height: 1.7;
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
}

.comment-form .comment-form-email,
.comment-form .comment-form-author {
  flex-grow: 1;
  flex-basis: calc(50% - 30px);
}

.comment-form p {
  flex-basis: 100%;
}

.comment-form p label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.comment-form .comment-form-author {
  order: 2;
  margin-right: 10px;
}

.comment-form .comment-form-email {
  order: 3;
  margin-left: 5px;
}

.comment-form .comment-form-comment {
  order: 5;
}

.comment-form .comment-form-url {
  order: 3;
}

.comment-form .comment-form-cookies-consent {
  order: 6;
  position: relative;
  padding: 10px 0;
}

.comment-form .form-submit {
  order: 6;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  min-height: 50px;
  border: 1px solid #37373726;
  outline: none !important;
  padding: 15px;
}

.comment-form .comment-form-cookies-consent input {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 01;
}

.comment-form .comment-form-cookies-consent label {
  margin: 0;
  line-height: 1.7;
  padding-left: 30px;
}

span.required {
  color: red;
}

.comment-form input[type="submit"] {
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
}

.comment-form input[type="submit"]:hover {
  background: var(--footer-bg);
}

.comment-reply-title a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
}

#cancel-comment-reply-link {
  background: var(--primary-color);
  font-size: 13px;
  padding: 5px 10px;
  margin-left: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.5s;
}

#cancel-comment-reply-link:hover {
  background: var(--footer-bg);
}

.comment-list .children {
  list-style: none;
  margin: 20px 0;
}

.category a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

/*** Tags style ***/

.post-tags ul {
  list-style: none;
}

.post-tags li {
  padding: 0 !important;
}

.post-tags li:before {
  content: unset !important;
}

.post-tags {
  list-style: none;
}

.post-tags a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: crimson;
  padding: 5px 10px;
  margin: 3px;
}

/*** post cats ***/

.post-meta .category a {
  display: inline-block;
  padding: 7px;
  background: cornflowerblue;
  color: #fff;
  font-size: 12px;
  margin: 3px;
}

/* album gallery design */
section.album-gallery-wrap {
  background: #fff;
  padding: 100px 15px;
  position: relative;
  z-index: 1;
}

section.album-gallery-wrap a {
  text-decoration: none;
  color: inherit;
}

.album-wrap {
  width: 100%;
  height: 250px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-wrap::before,
.album-wrap::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #2b3136;
  z-index: -1;
  transition: 0.5s;
  box-shadow: 0 0 3px rgb(0 0 0 / 30%);
}

.album-wrap::before {
  transform: rotate(-3deg);
}

.album-wrap::after {
  transform: rotate(3deg);
}
.album-wrap:hover::before,
.album-wrap:hover::after {
  transform: unset;
}

.album-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: 0.5s;
}

.album-wrap:hover .overlay {
  transform: scale(1);
}

.album-wrap .album-title {
  z-index: 1;
  margin-top: 30px;
  transition: 0.5s;
  color: #fff;
  opacity: 0;
  font-size: 22px;
}
.album-wrap:hover .album-title {
  margin-top: 0px;
  opacity: 1;
}

/*** Responsive start ***/

@media (max-width: 1600px) {
  header .navigationWrap nav > ul li a {
    font-size: 16px;
  }
  header nav .sub-menu {
    width: 170px;
  }
}

@media (min-width: 1399.98px) {
  .footer-sec.first {
    padding-right: 35px;
  }
}

@media (max-width: 1470px) {
  header nav .sub-menu {
    left: unset;
    right: 0;
  }
  .menu-item-has-children .sub-menu .sub-menu {
    right: 100%;
    left: unset;
  }
  .breadcrumbs::before {
    background-position-y: bottom;
  }
}

@media (max-width: 1200px) {
  header .navigationWrap nav > ul li a {
    font-size: 15px;
  }
  .logoBx {
    max-width: 250px;
  }
  .logoBx a {
    font-size: 44px;
  }
  .single-post .blog-post {
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  header li {
    margin-left: 0;
  }
  header .navigationWrap {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--header-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 1;
  }
  body.logged-in header .navigationWrap {
    top: 32px;
  }
  body.menuOpen header .navigationWrap {
    left: 0;
  }
  header .navigationWrap nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100% - 150px);
    overflow: auto;
    width: 100%;
    max-width: calc(100% - 30px);
  }
  .logoBx a {
    font-size: 40px;
    padding: 20px 0;
  }
  footer .logoBx a {
    margin-bottom: 0px;
  }
  .logoBx a img {
    height: 60px;
    vertical-align: bottom;
  }
  header .navigationWrap nav ul {
    width: 100%;
    max-width: 400px;
  }
  header .navigationWrap nav > ul {
    flex-direction: column;
  }
  header ul .sub-menu {
    position: static;
    background: rgba(255, 255, 255, 0.03);
    transition: unset;
  }
  .menu-item-has-children:hover > .sub-menu {
    display: none;
  }
  .sub-menu .subMenuAngle {
    margin-right: 0px;
  }
  header .navigationWrap nav > ul li a {
    margin-left: 0;
  }
  header .navigationWrap nav ul li a {
    padding: 0;
    flex-basis: calc(100% - 35px);
  }
  header .navigationWrap nav > ul .sub-menu li a {
    padding: 0;
  }
  header .a-Wrap {
    padding: 15px;
  }
  header .a-Wrap {
    border-bottom: 1px solid var(--text-light-color);
  }
  .subMenuAngle {
    background: var(--text-light-color);
  }
  .footer-area {
    padding: 50px 0 20px;
  }
  .short-site-intro {
    margin-bottom: 20px;
  }
  .footer-content {
    margin-bottom: 40px;
  }
  .footer-Bx-title {
    font-size: 18px;
  }
  .breadcrumbs {
    margin-bottom: 50px;
  }
  .breadcrumb {
    font-size: 24px;
  }
  .breadcrumbs {
    padding: 7rem 0 9rem;
  }
  .single-post .post-title {
    font-size: 30px;
  }
}

/* for mobile tab Menus when user login via Dashboard */

@media (max-width: 783.98px) {
  body.logged-in header .navigationWrap {
    top: 46px;
  }
  .breadcrumbs {
    padding: 5rem 0 7rem;
  }
  .logoBx {
    max-width: 200px;
  }
  .breadcrumb {
    font-size: 18px;
  }
  .post-title * {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .right-sidebar h3 {
    margin-bottom: 0;
  }
  .right-sidebar h3 {
    font-size: 18px;
  }
  .latest-post-title {
    font-size: 14px;
  }
  .latest-post-time {
    font-size: 12px;
  }
  .single-post blockquote::before {
    font-size: 50px;
    left: 15px;
    top: 15px;
  }
  .single-post blockquote {
    padding: 30px 15px 30px 55px;
    border-left: 5px solid var(--primary-color);
  }
  .single-post .post-title {
    font-size: 26px;
  }
  .single-post .blog-post {
    margin-bottom: 20px;
  }
  .comments-area {
    padding: 15px;
  }
  .comment-form .comment-form-email,
  .comment-form .comment-form-author {
    flex-basis: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .comments-area .comments-title {
    font-size: 16px;
    padding: 10px 0 10px 20px;
  }
  .comment-list {
    padding: 10px 15px;
  }
  .comment-reply-title {
    font-size: 18px;
    padding: 15px 20px;
  }
  .comment-respond {
    padding: 70px 15px 40px;
  }
  .comment-notes {
    margin-bottom: 30px;
  }
  .comment-notes {
    margin-bottom: 30px;
    font-size: 14px;
  }
  .comment-form p label {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .logoBx a {
    font-size: 32px;
  }
  .logoBx a img {
    height: 42px;
    vertical-align: middle;
  }
  .breadcrumbs {
    padding: 3rem 0 6rem;
  }
  .single-post .blog-post {
    padding: 15px;
  }
  .single-post blockquote::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .single-post blockquote {
    padding: 60px 15px 20px;
  }
}

@media (max-width: 480px) {
  .breadcrumbs {
    padding: 4rem 0 6rem;
  }
}
