/* ADD THIS CODE IN THE STYLE.CSS */

.likes {
    display: flex;
}

.likes__item {
    list-style: none;
}

.likes__item:not(:last-child) {
    margin-right: 20px;
}

.likes__item a {
    padding: 10px 15px;
    display: inline-block;
    border-bottom: 2px solid;
    border-radius: 3px;
    box-shadow: none;
    background: #f5f5f5;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 100%;
}

.likes__item a:hover {
    color: #fff;
}

.likes__item--like a {
    border-bottom-color: #47ba72;
    color: #47ba72;
}

.likes__item--dislike a {
    border-bottom-color: #ba6547;
    color: #ba6547;
}

.likes__item--like a:hover {
    background: #47ba72;
}

.likes__item--dislike a:hover {
    background: #ba6547;
}